---
import type { CollectionEntry } from "astro:content";
interface Props {
  healthProviders: CollectionEntry<"health-providers">[];
}
const { healthProviders } = Astro.props;
---

<div class="flex flex-wrap justify-center gap-8 m-5">
  {
    healthProviders.map((health) => (
      <div class="card bg-base-100 w-80 h-96 shadow-xl">
        <figure class="px-10 pt-10 flex justify-center">
          <img
            src={health.data.image}
            alt={health.data.title}
            class="object-contain w-48 h-48"
          />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">{health.data.title}</h2>
          <p class="line-clamp-3">{health.data.description}</p>
          <div class="card-actions mt-4">
            <a
              href={`health-providers/${health.slug}`}
              class="btn btn-sm btn-outline btn-primary"
            >
              Learn More
            </a>
          </div>
        </div>
      </div>
    ))
  }
</div>
