---
import type { CollectionEntry } from "astro:content";
interface Props {
  healthInsurance: CollectionEntry<"health-insurance">[];
}
const { healthInsurance } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-8 m-5">
  {
    healthInsurance.map((health) => (
      <div class="p-4">
        <div class="card sm:w-[640px] w-full bg-base-100 shadow-xl h-full">
          <div class="badge badge-lg badge-primary absolute top-0 right-0 m-4 rotate-12">
            {health.id === "covered-california.md"
              ? "Subsidized"
              : "Unsubsidized"}
          </div>
          <figure class="px-6 pt-6 h-48">
            <img
              src={health.data.image}
              alt={health.data.title}
              class="rounded-xl object-contain w-full h-full"
            />
          </figure>
          <div class="card-body items-center text-center overflow-hidden">
            <h2 class="card-title">{health.data.title}</h2>
            <p class="line-clamp-3">{health.data.description}</p>
            <div class="card-actions mt-4">
              <a
                href={`health-insurance/${health.slug}`}
                class="btn btn-primary"
              >
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>
